:root{

    --primary-color:#2aaaa9;
    --menu-bg-color:#f3f3f3;
    --menu-text-color:#3c4e5a;
    --primary-text-color:#707070;
    --secondary-color:#f9706a;
    --bs-modal-width:'auto';
}

@font-face {
    font-family: Lato;
    src: url(../fonts/Lato-Medium.woff);
  }

body {

    font-family: Lato;
}
a {

    color:var(--primary-text-color);
}
.w-80 { width: 80% !important;}
.home-body {
    color: var(--primary-text-color);
}
.f10 {
    font-size: 10px;
}
.f11{
    font-size: 11px;
}
.f12 {
    font-size: 12px;
}
.f13 {
    font-size: 13px;
}
.f14 {
    font-size: 14px;
}
.f15 {
    font-size: 15px;
}
.f16 {
    font-size: 16px;
}
.f17 {
    font-size: 17px;
}
.f18 {
    font-size: 18px;
}
.f19 {
    font-size: 19px;
}
.f20 {
    font-size: 20px;
}
.f30 {
    font-size: 30px;
}
.f40 {
    font-size: 40px;
}
.f50{
    font-size: 50px;
}
.colorornge {
    color: var(--secondary-color);
}
.super_container {
    overflow-x: hidden;
}
.bg-primary-color{
background-color: var(--primary-color) !important;
}

.bg-menu {
    background-color: var(--menu-bg-color);
}
.bg-green {
    background-color: #24ae25;
}

.header {

    background-color: var(--primary-color);
    color: #fff;
    font-family: Lato;
}
.header a.top-item {
    text-decoration: none;
    color: white;
    padding: 5px 0px;
    font-size: 18px;
}

.logo img, .header-icons img {
    height: 65px;
}
.header-contact p {

    font-size: 14px;
    line-height: .3;

}
.header-contact b {
    font-size: 22px;
    font-weight: 400;
}
.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.flexbox-vertical-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
 
  }
.nav-item-name{
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
}
.navbar-nav .nav-link {
  
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 22px;
  color:var(--menu-text-color);
}

.navbar-nav .nav-link.active{

    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    
}

.megamenu {
    position: static;
}

    .megamenu .dropdown-menu {
        background: none;
        border: none;
        width: 100%;
        z-index:9999;
    }

    .megamenu ul.list-unstyled li {
        padding: 0 0 0 0px;
        margin: 9px 0;
        cursor:pointer;
    }

    .megamenu ul.list-unstyled li {
        padding: 0 0 0 0px;
        margin: 9px 0;
    }

        .megamenu ul.list-unstyled li:hover {
            background: #30a1a3;
            line-height: 1;
            color: #fff;
        }

        .megamenu ul.list-unstyled li a {
            padding: 6px !important;
            line-height: normal;
        }

            .megamenu ul.list-unstyled li a:hover {
                padding: 6px !important;
                line-height: normal;
                color: var(--menu-hover-text-color) !important;
                background: var(--menu-hover-color);
            }
.nav-item.dropdown .dropdown-menu {
    left:0;
}

.home-banner {

    background-image: url(../images/home-banner.jpg);
    min-height: 600px;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.search-panel-container{

    background-color: #fff;
    color:var(--menu-text-color);
    /* min-height: 80px; */
    /* border: 1px solid var(--primary-color); */
    border-radius: 50px;
    padding: 10px;
    font-size: 13px;
    font-weight: 600;
}

.search-panel-container input {
    font-size: 14px;
}
.search_item{
    border-right: 1px solid gray;
    padding-right: 10px;
    width: 18%;
}
.searchdeparture .fa-plane {

    transform: rotate(-45deg);
}
.search_item i {
    color: var(--menu-text-color);
}
.search_item select {
    height: 36px;
}
.search_item:nth-last-child(2) {

    border: none;
    
}
.search_item .input-group.mModal::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
    margin-top: 10px;
}
.search_item .input-group input {
    background: transparent;
}
.form-control:focus {

    box-shadow: none;
}
.megamenu a.menuHeadLink {
    font-size: 12px;
    text-decoration: none;
    color: var(--primary-color);
}
.StarIcons5:before {
    content: "\f005\f005\f005\f005\f005";
    font-family: "Font Awesome 5 Free";
}
.StarIcons4:before {
    content: "\f005\f005\f005\f005"; 
    font-family: "Font Awesome 5 Free";
}
.StarIcons3:before {
    content: "\f005\f005\f005";
    font-family: "Font Awesome 5 Free";
}

.search-circle{
    background-color: var(--primary-color);
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 50px;
    color: #fff;
    font-size: 25px;
}

.CovidStrip{

    background: #c0fbe7;
    padding-top: 10px;
    color: #3c5666;
}

.CovidTxt {
    color: #3c5666 !important;
    display: inline-block;
    font-weight: 600;
}
.CovidStrip a {
    font-size: 14px;
    white-space: nowrap;
    color:#3c5666;
}

.holiday_icon_sec img.img-fluid {
    width: 65px !important;
    margin: auto !important;
}
.primary-button {
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 22px;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
  
}

.cp-holiday-card {
    padding-right: 7px !important;
    padding-left: 7px !important;
}
.cyp_holidays_img{
    overflow: hidden;
    border-radius: 15px 15px 0px 0px;
}

.cyp_holidays_box{
    border: 1px solid #bdbbbb;
    border-radius: 15px;
    box-shadow: 1px 4px 1px 0px rgb(0 0 0 / 13%);

}
.cyp_holidays_content {
    border-radius: 0px 0px 15px 15px;
}
.cp-holiday-card-content {
    text-transform: uppercase;
    padding: 10px;
}
.cp-holiday-card-content h3 {
   
    font-size: 25px;
}

.curved-border {
    border-radius: 15px;
    overflow: hidden;
    border: 2px solid #bdbbbb;
}
.deals_content_box .deals_content_box_3 {
 
    height: 100%;
}
.widget-3 .deals_content_box_2 p span.price2 {
    line-height: 35px;
}

.widget-3 .deals_content_box_2 {
    border-left: 2px solid var(--primary-text-color);
}

.widget-4 .cp-holiday-card .cp-holiday-card-content h4 {
    font-size: 20px;
}
.cyp_holidays_sec a:hover{
    color: var(--menu-text-color);
}
.widget-5 .cyp_holidays {

    margin-bottom: 5rem;
}
.subscription-wrap {
    display: flex;
    padding-left: 25%;
}
.subscription-button {
    border-radius: 0 35px 35px 0 ;
    line-height: 4;
    padding: 3px 30px ;
    margin:0;
   
}
 button.subscription-button:hover{
    box-shadow: none !important;
}
.subscription-textbox {
    line-height: 3;
    width: 400px;
    border-radius: 35px 0 0 35px;
    margin: 0;
    border:1px solid #707070;
    border-right: 0;
    font-size: 20px;
    padding-left: 20px;
}
.subscription-textbox:focus, .subscription-textbox:active{
    outline: none;
}

.lower-banner {
    background-image: url(../images/home-lower-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.lower-banner .inner-block {

padding: 12% 0;
    
}
.lower-banner .quote-block {
 background-color: #075555;
 width: fit-content;
 border-radius: 40px;
 padding: 35px;
 color:#fff;
 max-width: 560px;
}
.lower-banner .quote-block svg {

    width: 50px;
    display: block;
    color: #707070;

}
.lower-banner .quote-block .stars{

    color: #ffaa0a;
    font-size: 16px;
}

.social-widget {
    background-color: #deffff;
}

.social-widget li {
    display: inline-block;
    font-size: 30px;
    padding: 25px 0;
    transition: all .2s ease-in-out;
    width:20%;
}
.social-widget a:hover {
    color: var(--primary-text-color);
}

.widget-9 .primary-button {
    line-height: 2;
    border-radius: 30px;
    font-size: 20px;
}
.widget-9 img {
    border-radius: 40px;
}



a.primary-button:hover, button.primary-button:hover {
    color: #fff;
    text-decoration: none;
    box-shadow: 0 0 0 0.40883rem rgb(0 0 0 / 10%);

}

.widget-10 .nav-tabs{
    border-bottom: none;
}


.widget-10 .nav-pills .nav-item .nav-link {
    background-color: var(--primary-color);
    line-height: 2;
    border-radius: 25px;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px 25px;
    
}

#full-collection-widget h4{
font-size: 18px;

}
#full-collection-widget li 
{
    width: 33%;
    display: inline-block;
}
#full-collection-widget li a {
    color: var(--primary-color);
    text-decoration: none;
}
#full-collection-widget li a:hover {
    text-decoration: underline;
}
footer {

    background-color: #004343;
    color: #fff;
}
footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    color: #fff;
    text-decoration: underline;
}

footer table td{
    color: #fff;
}
footer table thead, 
footer table tbody, 
footer table tfoot, 
footer table tr, 
footer table td, 
footer table th {
    border-style: none;
}

footer .table > :not(caption) > * > *{

    padding: 0;
}
@media (min-width: 1400px){

    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1140px;
    }
}

/* .search-modals .modal 
{
    
    width: var(--bs-modal-width);
} */
.searchTabModal {
    position: fixed;
    width: 100%;
    height: auto;
    top: 360px;
    left: 0;
    padding: 0;
    margin: 0;
    box-shadow: 0 4px 11px;
    background: #fff;
    z-index: 9997;
}
.custom-control {
    color: #3c4e5a !important;
    position: relative;
    display: block;
    min-height: 3.0rem;
    padding-left: 1.5rem;
}

.custom-control.overflow-checkbox {
    --color: #26a69a;
    padding-bottom: 0.5rem;
    padding-top: 0.4rem;
}

.custom-control.overflow-checkbox .overflow-control-indicator {
    border-radius: 3px;
    display: inline-block;
    position: absolute;
    top: 5px;
    left: 19px;
    width: 23px;
    height: 23px;
    border: 2px solid var(--primary-color);
}
.overflow-control-description {
    padding-left: 0.8rem;
    font-size: 16px;
    color: #3c4e5a !important;
}
.custom-control.overflow-checkbox .overflow-control-indicator::before {
    content: '';
    display: block;
    position: absolute;
    width: 26px;
    height: 26px;
    transition: 0.3s;
    width: 10px;
    border-right: 7px solid #fff;
    border-radius: 3px;
    transform: rotateZ(45deg) scale(1);
    top: -10px;
    left: 15px;
    opacity: 0;
}
.custom-control.overflow-checkbox .overflow-control-indicator::after {
    content: '';
    display: block;
    position: absolute;
    width: 26px;
    height: 26px;
    transition: 0.3s;
    transform: rotateZ(90deg) scale(0);
    width: 11px;
    border-bottom: 4px solid var(--primary-color);
    border-right: 4px solid var(--primary-color);
    border-radius: 3px;
    top: -2px;
    left: 2px;
}

.custom-control.overflow-checkbox .overflow-control-input:checked ~ .overflow-control-indicator::after {
    transform: rotateZ(45deg) scale(1);
    top: -9px;
    left: 11px;
    color: #3c4e5a !important;
}
.custom-control.overflow-checkbox .overflow-control-input:checked ~ .overflow-control-indicator::before {
    opacity: 1;
}
.custom-control.overflow-checkbox input[type="checkbox"] {
    visibility: hidden;
}

.RegionEnd {
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 7px;
}
input.form-control, select.form-control, .form-control select, .form-control input {
    border-radius: 0;
    display: block;
    width: 100%;
   
    font-weight: 500;
    color: #3c4e5a;
 
}
.basic-addon1 {
    color: #3c4e5a !important;
    height: -webkit-fill-available;
    border: none;
    text-transform: none;
    cursor: pointer;
    position: relative;
    right: 1px;
}
.input-group-prepend input.form-control {
    width: 85%;
    border: none;
    background-color: transparent;
    padding-left:0;
    padding-right: 0;
}
.daterangepicker {
    display: contents !important;
    font-size: 12px;
}
.table-condensed {
    border-spacing: 3px !important;
    border-collapse: separate !important;
    width:80%;
}
table thead, table tbody {
    width: 100% !important;
    /* display: table; */
}

.daterangepicker th.month {
    width: auto;
    font-size: x-large !important;
    padding: 10px 35px;
    color: #3c4e5a;
}
.daterangepicker select.monthselect {
    line-height: 1.5;
    height: 40px !important;
    width: 50% !important;
    margin-right: 3px;
}
.daterangepicker select.yearselect {
    line-height: 1.5;
    height: 40px !important;
    width: 45% !important;
}
.daterangepicker td.disabled, .daterangepicker option.disabled {
    /* padding: 12px !important; */
    padding: 6px 3px;
    text-decoration: none !important;
    text-align: center;
}
.daterangepicker td.off, .daterangepicker td.off.in-range, .daterangepicker td.off.start-date, .daterangepicker td.off.end-date {
    background-color: #f6f6f6 !important;
    border-color: transparent;
    color: #999 !important;
    border: none !important;
}
.daterangepicker td {

    width: 14.1%;
}

td.available {
    font-size: larger;
    padding: 12px;
    text-align: center;
    /* padding: 6px 3px; */
    color: #3c4e5a;
    border: 1px solid var(--primary-color) !important;
    border-radius: 8px;
}
.daterangepicker td.active {
    background-color: var(--primary-color) !important;
    color: #fff !important;
}

.daterangepicker select.monthselect, .daterangepicker select.yearselect {
    font-size: 12px;
}
.daterangepicker td.off, .daterangepicker td.off.in-range, .daterangepicker td.off.start-date, .daterangepicker td.off.end-date {
    border-radius: 8px;
}
.drp-buttons {
    display: none;
}

#Duration option {
    font-size: 14px;
}
#SearchForm .input-group input, #SearchForm .searchDuration select, #SearchForm .input-group i ,#SearchForm .searchDuration i, #RegionModal i {
    color: var(--primary-text-color) !important;
}

.alertsRoom {
    font-size: 15px;
    font-style: italic;
    font-weight: 500;
    padding: 0;
    color: #fff;
    background-color: #f9706a;
    display: none;
    padding: 10px;
}

span.room_heading {
    display: block;
    width: 100%;
    padding: 10px 10px;
    background: #dedede85;
    margin: 0 0 15px 0px;
    color: #3c4e5a;
}
.roomsChild div.form-group {
    margin-left: 20px;
    display: inline-block;
}
.roomsChild div.form-group select {
    width: 75px;
    display: block;
}
.roomsChild, .showage {
    display: none;
}
.room_heading i, .room_heading h4 {
    display: inline-block;
    font-size: 18px;
    margin-bottom: 0;
}
@media only screen and (min-width: 1024px){
    .widget-3 .deals_content_box .deals_content_box_2 {
        padding-top: 16%;
        padding-left: 20%;
    }
    
}
